<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
<div id="index-banner">
  <h1>Earth Check Challenge</h1>
  <h3>NASA SpaceApp challenge</h3>
  <h4><a href="#">#Oran</a> <a href="#">#NASA</a> <a href="#">#SpaceApp</a></h4>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, ea, impedit. Alias, animi beatae dignissimos eius esse eum labore minus, molestias nemo odio repudiandae rerum sint vero? Modi, odit, vitae.

</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at, deleniti
    deserunt eaque, eius enim expedita fuga iure quas reprehenderit tempora veniam, voluptatem. Assumenda error
    explicabo magni mollitia sequi ullam?
  </div>
  <div class="mdl-cell mdl-cell--4-col">Accusamus accusantium beatae corporis debitis deserunt distinctio dolor ducimus
    expedita facilis, fuga harum hic incidunt inventore iusto nisi nobis qui quod quos, rem repellat sint sit soluta
    veniam veritatis voluptatem.
  </div>
  <div class="mdl-cell mdl-cell--4-col">Accusamus accusantium beatae corporis debitis deserunt distinctio dolor ducimus
    expedita facilis, fuga harum hic incidunt inventore iusto nisi nobis qui quod quos, rem repellat sint sit soluta
    veniam veritatis voluptatem.
  </div>
</div>

